<div class="home_page">
    <div class="home_container">
        <h1>ユーザー登録</h1>
        <div class="error_message">
        <% if @error_message%>
        <%= @error_message%>
        <%end%>
        </div>
        <%=form_tag("/users/create")do %>
        <h2>名前(HN)</h2>
        <input name="name" value="<%=params[:name]%>">
        <h2>パスワード</h2>
        <p><input name="password" type="password"></p>
        <input type="submit" value="新規登録" class="btn">
        <%end%>
    </div>
</div>