<div class="post_index_form">
    <div class="post_new_container">
    <h1>投稿フォーム</h1>
    <%= form_tag("/posts/create",{multipart: true})do %>
        <div class="post_new_content">
        <div class="error_message">
        <% if @error_message%>
        <%= @error_message%>
        <%end%>
        </div>
        <textarea name="content">
        </textarea>
        <p>画像：
        <input name="image" type="file">
        </p>
        <p>タグ：
        <select name="tag">
            <option value="投稿">投稿</option>
            <option value="デッキ構築(エンジョイ、ネタ)">デッキ構築(エンジョイ、ネタ)</option>
            <option value="デッキ構築(マスター帯未満)">デッキ構築(マスター帯未満)</option>
            <option value="デッキ構築(マスター帯)">デッキ構築(マスター帯)</option>
            <option value="プレイング考察">プレイング考察</option>
            <option value="フレンド交流">フレンド交流</option>
            <option value="大会情報">大会情報</option>
        </select>
        </p>
        <input type="submit" value="投稿" class="submit">
        </div>
    <% end %>
    </div>
</div>